extends layout

block content
  h1 Nimbus
  hr
  .row
    script(src='https://darksky.net/map-embed/@temperature,46.299,-81.338,4.js?embed=true&timeControl=true&fieldControl=true&defaultField=temperature&defaultUnits=_f')
