<% include partials/header %>
<div class="container">
  <div class="row">
      <div class="col-md-12">
          
          <div class="wrap">
              
            
              
              <p class="form-title">
                  Register</p>
              <form class="login" action="/register" method="POST">
              <input type="text" name="email" placeholder="Email" />
              <input type="password" name="password" placeholder="Password" />
              <input type="text" name="streetAddress" placeholder="Street Address" />
              <input type="text" name="state" placeholder="State" />
              <input type="text" name="zipcode" placeholder="Zipcode" />
              <input type="text" name="country" placeholder="Country" />
              
              <button class="form-control form-horizontal" value="Submit" type="submit">Register</button>              
              <div class="remember-forgot">
                  <div class="row">
                      <div class="col-md-6">
                          <a href="/">Go Back</a>
                              
                          </div>
                      </div>
                  </div>
              </div>
              </form>
          </div>
      </div>
  </div>
</div>


<% include partials/footer %>
