<!DOCTYPE html>
<html>
  <head>
      <title>WEATHER</title>
    </head>
    
      
<body>
    <link rel="stylesheet" href="video.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
    integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>




<!--  Video is muted & autoplays, placed after major DOM elements for performance & has an image fallback  -->
<video autoplay loop id="video-background" muted plays-inline>
        <%var url;
        if(icon === null || icon === undefined) {
            icon = "cloudy";
        }
        switch(icon) {
          case "clear-day":
              url = "videos/clearDay.mp4";
              break;
          case "clear-night":
              url = "videos/clearNight.mp4";
              break;
          case "rain":
              url = "videos/rain.mp4";
              break;
          case "snow":
              url = "videos/snow.mp4";
              break;
          case "sleet":
              url = "videos/sleet.mp4";
              break;
          case "wind":
          url = "videos/windy.mp4";
            break;
          case "fog":
          url = "videos/fog.mp4";
            break;
          case "cloudy":
          url = "videos/cloudy.mp4";
            break;
          case "partly-cloudy-day":
          url = "videos/partlyCloudyDay.mp4";
            break;
          case "partly-cloudy-night":
          url = "videos/cloudyNight.mp4";
            break;
          case "hail":
          url = "videos/hail.mp4";
            break;
          case "thunderstorm":
          url = "videos/thunderstorm.mp4";
            break;
          case "tornado":
          url = "videos/tornado.mp4";
            break;
          default:
              url = "videos/cloudy.mp4";
    
      }
    
    
      %>
  <source src=<%-url%> type="video/mp4">
</video>
<form method="POST" action="/examplePage">
    <select name="icon" required>
        <option value="">Select Weather Type</option>
        <option value="clear-day">clear-day</option>
        <option value="clear-night">cloudy</option>
        <option value="rain">rain</option>
        <option value="snow">snow</option>
        <option value="sleet">sleet</option>
        <option value="wind">wind</option>
        <option value="fog">fog</option>
        <option value="cloudy">cloudy</option>
        <option value="partly-cloudy-day">partly-cloudy-day</option>
        <option value="partly-cloudy-night">partly-cloudy-night</option>
        <option value="hail">hail</option>
        <option value="thunderstorm">thunderstorm</option>
        <option value="tornado">tornado</option>

    </select>

<button type="submit">Submit</button>
</form>


</body>
</html>
