<% include partials/header %>


      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  
                  <div class="wrap">
                      <p class="form-title">
                          Sign In</p>
                      <form class="login" action="/login" method="POST">
                      <input type="text" name="email" placeholder="Email" />
                      <input type="password" name="password" placeholder="Password" />
                      <button class="form-control form-horizontal" value="Submit" type="submit">Login</button>              
                      <div class="remember-forgot">
                          <div class="row">
                              <div class="col-md-6">
                                  <a href="/register">Or Register</a>
                                      
                                  </div>
                              </div>
                          </div>
                      </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      

      <% include partials/footer %>
      